<div class="signup_form">
	
	<form class="signup_form" action="/signup" method="POST">
		<input type="text" name="user[name]" placeholder="enter your name">
		<input type="text" name="user[username]" placeholder="choose your username">
		<input type="text" name="user[boardtype]" placeholder="what kind of board">
		<input type="text" name="user[profpic]" placeholder="enter an profile pic url">
		<input type="password" name="user[password]" placeholder="enter your password">
		<input type="password" name="user[password_confirmation]" placeholder="confirm your password">
		<input type="submit" value="SIGNUP">
	</form>

</div>

