THIS IS THE FORM TO ADD A NEW SKATELOG
<div class="container">
	<h2>Tell Your Skate Community About Your Skate!</h2>
	<form class="new_post" action="/skatelogs" method="POST">
		<input type="text" name="skatelog[title]" placeholder="enter title">
		<input type="text" name="skatelog[seshtime]" placeholder="how long did you skate?">
		<input type="text" name="skatelog[tricks]" placeholder="what tricks did you practice">
		<input type="text" name="skatelog[description]" placeholder="tell us about it">
		<input type="submit" value="Post Your Skatelog">					
	</form>
</div>